* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  height: 100vh;
}

.banner-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px;
  height: 70%;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png ');
}

.heading {
  margin: 0px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 450;
  font-family: 'Roboto';
}

.para {
  font-size: 30px;
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
  padding-top: 10px;
}

.play-list-container {
  background-color: #152850;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.heading-and-search-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 40px;
}

.heading2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;
}

.input {
  border: none;
  outline: none;
  height: 35px;
  width: 190px;
  background-color: transparent;
  padding-left: 10px;
  color: #ffffff;
  font-family: Roboto;
}

.input-container {
  border: solid 2px #cbd5e1;
  height: 35px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-right: 10px;
}

.icon {
  color: #cbd5e1;
}

.button-icon {
}

.no-search-result-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-list {
  overflow-y: scroll;
  height: 60vh;
}

.no-search-result-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
}
